# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

#environment variables
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Database
*.db
data/

# IDEs
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log
access_logs.txt

samples/
.streamlit/